<!doctype html>
<html>
    <head>
        <title>Data Export</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src={{ url_for('static', filename='js/main.js') }}></script>
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} />
    </head>
<body>
    <div class="wrapperDiv">
        <form action="/admin/export_to_csv" method="POST" onsubmit="return validate()">
            min match number:
            <input class="numbox" type="number" id="min_match_id" name="min_match_id" min="0" placeholder="0">
            <input class="send" type="submit" value="EXPORT RECORDS">
        </form>

        <br />
        <button class="send" onclick="document.location='/admin/check_data'">LIGHT ADMIN PAGE!</button>
        <br />
        <button class="send" onclick="document.location='/'">BACK TO SCOUTING!</button>
    </div>
    <hr />
    Data entered so far...
    <table class="tableDiv">
        <tr>
            <td>match</td>
            <td>team</td>
            <td>auto speaker score</td>
            <td>auto amp score</td>
            <td>teleop speaker score</td>
            <td>teleop amp score</td>
            <td>endgame climb</td>
            <td>endgame trap</td>
        </tr>
    {% for score in score_data %}
        <tr>
            <td>{{score[0]}}</td>
            <td>{{score[1]}}</td>
            <td>{{score[2]}}</td>
            <td>{{score[3]}}</td>
            <td>{{score[4]}}</td>
            <td>{{score[5]}}</td>
            <td>{{score[6]}}</td>
            <td>{{score[7]}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>

