<!doctype html>
<html>
    <head>
        <title>Collect Pit Scout Photo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src={{ url_for('static', filename='js/main.js') }}></script>
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} />
    </head>
<body>
    <div class="wrapperDiv">
        <form action="/scout/add_photo" method="POST" enctype='multipart/form-data'>
            <input type="text" name="team_number" placeholder="Team Number">
            <br />
            <input type="file" id="filename" name="filename">
            <br />
            <input class="send" type="submit" value="SEND">
        </form>
    </div>
</body>
</html>

