<!doctype html>
<html>
    <head>
        <title>Collect Data</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src={{ url_for('static', filename='js/main.js') }}></script>
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} />
    </head>
<body>
    <div class="wrapperDiv">
        <form action="/scout/add_data" method="POST" onsubmit="return validate()">

            <input type="text" name="match_number" placeholder="Match Number" size="15">

            <input type="text" name="team_number" placeholder="Team Number" size="15">
            <br />
            <input type="textbox" name="notes" placeholder="Miscellaneous Notes" size="30">
            <hr />

        <h3>Auto Scoring</h3>

        <label for="start_position">Start Position</label>
        <select name="start_position" id="start_position">
            <option value="sub">sub</option>
            <option value="mid">mid</option>
            <option value="pod">podium</option>
        </select>
        <br />
        <br />
        <input type="checkbox" id="auto_leave" name="auto_leave" value="auto_leave">
            <label for="auto_leave">Leave starting zone?</label>
            <br />
            <br />

            Notes picked up?
            <br />
            <input type="checkbox" id="auto_note_A" name="auto_note_A" value="auto_note_A">
            <label for="auto_note_A">A</label>&nbsp;&nbsp;
            <input type="checkbox" id="auto_note_B" name="auto_note_B" value="auto_note_B">
            <label for="auto_note_B">B</label>&nbsp;&nbsp;
            <input type="checkbox" id="auto_note_C" name="auto_note_C" value="auto_note_C">
            <label for="auto_note_C">C</label>&nbsp;&nbsp;
            <br />
            <input type="checkbox" id="auto_note_D" name="auto_note_D" value="auto_note_D">
            <label for="auto_note_D">D</label>&nbsp;&nbsp;
            <input type="checkbox" id="auto_note_E" name="auto_note_E" value="auto_note_E">
            <label for="auto_note_E">E</label>&nbsp;&nbsp;
            <input type="checkbox" id="auto_note_F" name="auto_note_F" value="auto_note_F">
            <label for="auto_note_F">F</label>&nbsp;&nbsp;
            <input type="checkbox" id="auto_note_G" name="auto_note_G" value="auto_note_G">
            <label for="auto_note_G">G</label>&nbsp;&nbsp;
            <input type="checkbox" id="auto_note_H" name="auto_note_H" value="auto_note_H">
            <label for="auto_note_H">H</label>&nbsp;&nbsp;
            <br />
            <br />

            Notes scored:
            <br />
            <label for="auto_score_spkr">Speaker</label>
            <input class="numbox" type="number" id="auto_score_spkr" name="auto_score_spkr" value="0" min="0">
            <button class="minus" onclick="decrement('auto_score_spkr')">-</button>
            <button class="plus" onclick="increment('auto_score_spkr')">+</button>
            <label for="auto_score_amp">Amp</label>
            <input class="numbox" type="number" id="auto_score_amp" name="auto_score_amp" value="0" min="0">
            <button class="minus" onclick="decrement('auto_score_amp')">-</button>
            <button class="plus" onclick="increment('auto_score_amp')">+</button>
            <br />
            <br />

            <input type="checkbox" id="auto_astop" name="auto_astop" value="auto_astop">
            <label for="auto_astop">Hit A-Stop?</label>
            &nbsp; &nbsp;
            <input type="checkbox" id="auto_flubbed" name="auto_flubbed" value="auto_flubbed">
            <label for="auto_flubbed">Missed any note pickup?</label>

            <hr />

        <h3>Teleop Scoring</h3>
            Amp <br />
            Scored:
            <input class="numbox" type="number" id="teleop_amp" name="teleop_amp" value="0" min="0">
            <button class="minus" onclick="decrement('teleop_amp')">-</button>
            <button class="plus" onclick="increment('teleop_amp')">+</button>
            &nbsp; &nbsp;
            Missed:
            <input class="numbox" type="number" id="teleop_amp_miss" name="teleop_amp_miss" value="0" min="0">
            <button class="minus" onclick="decrement('teleop_amp_miss')">-</button>
            <button class="plus" onclick="increment('teleop_amp_miss')">+</button>
            <br />
            <br />

            Speaker  <br />
            Scored:
            <input class="numbox" type="number" id="teleop_spkr" name="teleop_spkr" value="0" min="0">
            <button class="minus" onclick="decrement('teleop_spkr')">-</button>
            <button class="plus" onclick="increment('teleop_spkr')">+</button>
            &nbsp; &nbsp;
            Missed:
            <input class="numbox" type="number" id="teleop_spkr_miss" name="teleop_spkr_miss" value="0" min="0">
            <button class="minus" onclick="decrement('teleop_spkr_miss')">-</button>
            <button class="plus" onclick="increment('teleop_spkr_miss')">+</button>
            <br />
            <br />

            Successfully scored from zone(s):
            <br />
            <input type="checkbox" id="score_zone_1" name="score_zone_1" value="score_zone_1">
            <label for="score_zone_1">1</label>&nbsp;&nbsp;
            <input type="checkbox" id="score_zone_2" name="score_zone_2" value="score_zone_2">
            <label for="score_zone_2">2</label>&nbsp;&nbsp;
            <input type="checkbox" id="score_zone_3" name="score_zone_3" value="score_zone_3">
            <label for="score_zone_3">3</label>&nbsp;&nbsp;
            <input type="checkbox" id="score_zone_4" name="score_zone_4" value="score_zone_4">
            <label for="score_zone_4">4</label>&nbsp;&nbsp;
            <input type="checkbox" id="score_zone_5" name="score_zone_5" value="score_zone_5">
            <label for="score_zone_5">5</label>&nbsp;&nbsp;
            <input type="checkbox" id="score_zone_6" name="score_zone_6" value="score_zone_6">
            <label for="score_zone_6">6</label>
            <br />
            <br />

            Amplifications:
            <input class="numbox" type="number" id="amplifications" name="amplifications" value="0" min="0">
            <button class="minus" onclick="decrement('amplifications')">-</button>
            <button class="plus" onclick="increment('amplifications')">+</button>
            <br />
            <br />

            <input type="checkbox" id="coopertition" name="coopertition" value="coopertition">
            <label for="coopertition">Coopertition</label>
            <hr />

        <h3>Endgame</h3>
            <input type="checkbox" id="parked" name="parked" value="parked">
            <label for="parked">Parked?</label>
            <br />
            <br />

            <label for="endgame_climb">Endgame Climb</label>
            <select name="endgame_climb" id="endgame_climb">
                <option value="0">none</option>
                <option value="0.01">attempted</option>
                <option value="1">succeeded</option>
            </select>
            <br />
            <br />

            <label for="endgame_trap">Scored Trap</label>
            <select name="endgame_trap" id="endgame_trap">
                <option value="0">none</option>
                <option value="0.01">attempted</option>
                <option value="1">succeeded</option>
            </select>
            <br />
            <br />

            <label for="endgame_spotlight">Spotlight</label>
            <select name="endgame_spotlight" id="endgame_spotlight">
                <option value="0">none</option>
                <option value="0.01">attempted</option>
                <option value="1">succeeded</option>
            </select>

            <hr />

            <input type="checkbox" id="tipped" name="tipped" value="tipped">
            <label for="tipped">Tipped?</label>
            <br />
            <br />
            <input type="checkbox" id="carded" name="carded" value="carded">
            <label for="carded">Carded?</label>
            <br />
            <br />
            <input type="checkbox" id="broke" name="broke" value="broke">
            <label for="broke">Broken?</label>
            <br />
            <br />
            Fouls: <input class="numbox" type="number" id="fouls" name="fouls" value="0" min="0">
                <button class="minus" onclick="decrement('fouls')">-</button>
                <button class="plus" onclick="increment('fouls')">+</button>
            <hr />

            take a quick screenshot, then <input class="send" type="submit" value="SEND"> your data!
        </form>
    </div>
</body>
</html>
